<div class="col-md-6 col-md-offset-1" >

  <p> Enter the book's details. * Denotes a required field </p>

  <%= simple_form_for(@book, html: { class: 'form-horizontal' }) do |f| %>

    <%= f.input :title %>
    <%= f.input :author %>
    <%= f.input :published_date %>
    <%= f.input :price %>
    <%= f.input :category %>

    <%= f.button :submit %>
    
  <% end %>
</div>
