<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
  Stripe.setPublishableKey("<%= Rails.configuration.stripe[:publishable_key] %>");
</script>

<h2> Credit Card </h2>
<p id="payment-errors"></p>
<%= label_tag :card_number, "Card Number" %>
<p><%= text_field_tag :card_number, nil, size: 20, "data-stripe" => "number" %></p>

<%= label_tag :CVC, "CVC" %> <br />
<p><%= text_field_tag :CVC, nil, size: 4, "data-stripe" => "cvc" %></p>

<p><%= label_tag :month, "Expiration Date (MM/YYYY)" %></p>
<%= label_tag :month %>
<%= text_field_tag :month, nil, size: 2, "data-stripe" => "exp-month" %>
<%= label_tag :year %>
<%= text_field_tag :year, nil, size: 4, "data-stripe" => "exp-year" %>
