<%= simple_form_for(@order, html: { id: 'payment-form' }) do |f| %>
  <div class="shipping-address">
    <h2> Shipping Address </h2>
    <%= f.fields_for :shipping_address do |sa| %>
      <%= sa.input :street_number %>
      <%= sa.input :street_name %>
      <%= sa.input :city %>
      <%= sa.input :state %>
      <%= sa.input :zip %>
    <% end %>
  </div>

  <% if current_user.stripe_customer_id %>
    <p>
      <%= label_tag :use_saved_card %>
      <%= check_box_tag :use_saved_card %>
    </p>
  <% end %>
  <div class="billing-address">
    <h2> Billing Address </h2>
    <%= f.fields_for :billing_address do |ba| %>
      <%= ba.input :street_number %>
      <%= ba.input :street_name %>
      <%= ba.input :city %>
      <%= ba.input :state %>
      <%= ba.input :zip %>
    <% end %>
  </div>

<div class="credit-card">
  <%= render "credit_card_form" %>
</div>
  <%= f.button :submit, "Submit Order" %>
<% end %>
