<div class="row <%= cycle("even", "odd") %>">
  <div class="col-md-3 store-book-title"><%= link_to book.title, book_path(book) %></div>
  <div class="col-md-2 store-book-author"><%= book.author %></div>
  <div class="col-md-2 store-book-published-date"><%= book.published_date_written %></div>
  <div class="col-md-1 store-book-price"><%= book.display_lowest_price %></div>
  <div class="col-md-3 store-book-category"><%= book.category %></div>
</div>
