<div class="col-md-6 col-md-offset-2" >
  <p id="book-show-title"> <%= @book.title %> </p>
  <p id="book-show-author"> written by <%= @book.author %> </p>
  <p> published <%= @book.published_date %> </p>
  <h4> Synopsis: </h4>
  <p> <%= @book.description %> </p>
  <h4> Genre: </h4>
  <p> <%= @book.category %> </p>

  <h4> Buy it now for only $<%= @book.price %></h4>
  <%= simple_form_for(@order_item) do |f| %>
    <%= f.input :book_id, as: :hidden, input_html: { value: @book.id } %>
    <%= f.input :quantity, input_html: { value: 1 } %>
    <%= f.button :submit, "Add to Cart" %>
  <% end %>
</div>
