<div class="row <%= cycle("even", "odd") %>">
  <div class="col-md-3 store-book-title">
    <%= link_to book.title, admin_api_book_path(book) %>
  </div>
  <div class="col-md-2 store-book-author"><%= book.author %></div>
  <div class="col-md-2 store-book-published-date"><%= book.published_date_written %></div>
  <div class="col-md-1 store-book-price"><%= book.display_lowest_price %></div>
  <div class="col-md-2 store-book-category"><%= book.category %></div>
  <div class="col-md-1 store-book-edit">
    <%= link_to 'Edit', edit_admin_api_book_path(book) %>
  </div>
  <div class="col-md-1 store-book-delete">
    <%= link_to 'Delete', admin_api_book_path(book), method: :delete,
      data: { confirm: 'Are you sure?' } %>
  </div>
</div>
