<div class="col-md-6 col-md-offset-1" >

  <p> Enter the book's details. * Denotes a required field </p>

  <%= simple_form_for([:admin_api, @book], html: { class: 'form-horizontal' }) do |f| %>

    <%= f.input :title %>
    <%= f.input :author %>
    <%= f.input :published_date, as: "text" %>
    <%= f.input :price %>
    <%= f.input :category %>

    <div class="form-group">
      <p><%= label_tag :discount_amount %></p>
      <p><%= number_field_tag :discount_amount %></p>
    </div>

    <div class="form-group">
      <p><%= label_tag :discount_type %></p>
      <p><%= text_field_tag :discount_type %></p>
    </div>

    <%= f.button :submit, "Submit" %>
  <% end %>
</div>
